@if (item) {
  <div class="div-0abe0c9c80754" name="div0abe0c9c80754" id="0abe0c9c80754">
    <div class="div00" name="div7022fb0981774" id="7022fb0981774">
      <mat-icon style="margin: 0; color: white;">mail</mat-icon>
    </div>
    <div class="div-86e5c32650e14" name="div86e5c32650e14" id="86e5c32650e14">
      <div class="div-1d58799a150b4" name="div1d58799a150b4" id="1d58799a150b4">
        <span
          class=" text-overflow-ellipsis span-1b87aa965efd4 span1b87aa965efd4 headings-custom-styles1b87aa965efd4"
          id="1b87aa965efd4"
        >
          {{item.message}}
        </span>
      </div>
      <div class="div-4d41223903df4" name="div4d41223903df4" id="4d41223903df4">
        <span
          class="span-81b3fbdd18cc4 span81b3fbdd18cc4 headings-custom-styles81b3fbdd18cc4"
          id="81b3fbdd18cc4"
          style="vertical-align: baseline;"
        >{{item.timestamp | date}}
        </span>
      </div>
    </div>
  </div>
}
